#menuhdr {
	display: block;
	color: #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 10px;
	font: 23px Times New Roman, Times, serif;
	margin-top: 0;
	padding-bottom: 2px;
}

#navcontainer {
	background: ;
	margin-top: 0;
}