
#stacks_in_13_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_15_page23 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_15_page23 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_17_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_20_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_15_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_22_page23 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_22_page23 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_24_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_27_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_22_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_31_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_29_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_33_page23 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_33_page23 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_35_page23 {
	margin-left:0;
}

#stacks_in_35_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_38_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_33_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_40_page23 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_40_page23 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_42_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_45_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_40_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_47_page23 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_47_page23 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_49_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_52_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_47_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_54_page23 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_54_page23 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_56_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_59_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_54_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_63_page23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_61_page23 {
	margin:  2px;
	padding:  5px;
}
