
#stacks_in_325_page19 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_327_page19 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_327_page19 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_329_page19 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_332_page19 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_327_page19 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_334_page19 {
	margin:  2px;
	padding:  5px;
}
