
#stacks_in_272_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_274_page5 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_274_page5 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_276_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_279_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_274_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_281_page5 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_281_page5 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_283_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_286_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_281_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_290_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_288_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_292_page5 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_292_page5 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_294_page5 {
	margin-left:0;
}

#stacks_in_294_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_297_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_292_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_299_page5 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_299_page5 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_301_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_304_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_299_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_306_page5 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_306_page5 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_308_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_311_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_306_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_313_page5 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_313_page5 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_315_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_318_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_313_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_322_page5 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_320_page5 {
	margin:  2px;
	padding:  5px;
}
