 .u-section-1 {
  background-image: url("images/2f707c948dee4a99e7b5f51f321442351c93e9b439352484dad917fde9790f0639f07d7eeed45c437944481485b70af8bc403bd5c17a00c50bbf84_1280.jpg");
  background-position: 50% 25.4%;
}

.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  font-family: TrebuchetMS;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 11.18%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 244px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 172px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-family: TrebuchetMS;
  margin: 30px 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: TrebuchetMS;
  margin: 34px 0 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: TrebuchetMS;
  margin: 0 0 9px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 91px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 25px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 80px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 16px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
    margin-bottom: 16px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 888px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 888px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  object-position: 50% 2.15%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  font-family: TrebuchetMS;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  object-position: 50% 64.27%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  font-family: TrebuchetMS;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  font-family: TrebuchetMS;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-image-4 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-family: TrebuchetMS;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-image-5 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  font-family: TrebuchetMS;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-4 .u-image-6 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  font-family: TrebuchetMS;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-4 .u-image-7 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  font-family: TrebuchetMS;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-4 .u-image-8 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  font-family: TrebuchetMS;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 732px;
  }

  .u-section-4 .u-image-1 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-7 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-8 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1568px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1568px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-7 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-8 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 167px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.75rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 167px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 167px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.75rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 167px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.75rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 167px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.75rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 167px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.75rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-7 {
    height: 167px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.75rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-8 {
    height: 167px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.75rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 320px;
  }

  .u-section-4 .u-text-2 {
    width: 320px;
  }

  .u-section-4 .u-text-3 {
    width: 320px;
  }

  .u-section-4 .u-text-4 {
    width: 320px;
  }

  .u-section-4 .u-text-5 {
    width: 320px;
  }

  .u-section-4 .u-text-6 {
    width: 320px;
  }

  .u-section-4 .u-text-7 {
    width: 320px;
  }

  .u-section-4 .u-text-8 {
    width: 320px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 276px;
}

.u-section-5 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: TrebuchetMS;
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-family: TrebuchetMS;
  padding: 0;
}

.u-section-5 .u-text-3 {
  letter-spacing: 2px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: TrebuchetMS;
  margin: 27px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: TrebuchetMS;
  margin: 40px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  font-family: TrebuchetMS;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-btn-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 29px;
    margin-bottom: 11px;
  }

  .u-section-5 .u-btn-2 {
    font-size: 1rem;
  }
}@font-face {
  font-family: 'TrebuchetMS';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TrebuchetMS.ttf);
}