
#stacks_in_1_page14 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_3_page14 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_3_page14 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_5_page14 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_8_page14 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_3_page14 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_10_page14 {
	margin:  2px;
	padding:  5px;
}
