
#stacks_in_260_page3 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_262_page3 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_262_page3 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_264_page3 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_267_page3 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_262_page3 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_269_page3 {
	margin:  2px;
	padding:  5px;
}
