
#stacks_in_107_page11 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_107_page11 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_107_page11 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_112_page11 {
	text-transform: capitalize;
}

#stacks_in_111_page11 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_114_page11 {
	font-size: 95%;
}

#stacks_in_113_page11 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_109_page11 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_119_page11 {
	text-transform: capitalize;
}

#stacks_in_118_page11 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_121_page11 {
	font-size: 95%;
}

#stacks_in_120_page11 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_116_page11 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_126_page11 {
	text-transform: capitalize;
}

#stacks_in_125_page11 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_128_page11 {
	font-size: 95%;
}

#stacks_in_127_page11 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_123_page11 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_107_page11 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
