blockquote {
	padding: 10px;
	color: #b3b3b3;
	font-weight: bold;
	text-align: center;
	background: no-repeat;
	border: 1px solid #cccccc;
}

blockquote:hover {
	padding: 10px;
	color: #7f7f7f;
	font-weight: bold;
	text-align: center;
	background: #e6e6e6;
	border: 1px solid #cccccc;
}